/* WAVE CONTAINERS */
/* WAVE CONTAINERS */
/* WAVE CONTAINERS */
.custom-shape-divider-top-1632789334 {
	width: 100%;
	overflow: hidden;
	line-height: 0;
}

.custom-shape-divider-top-1632789334 svg {
	position: relative;
	top: 0px;
	display: block;
	width: calc(191% + 1.3px);
	height: 113px;
}

.custom-shape-divider-top-1632789334 .shape-fill {
	fill: #3b3b3b;
}

.custom-shape-divider-bottom-1632789981 {
	position: absolute;
	bottom: 90px;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
	transform: rotate(180deg);
}

.custom-shape-divider-bottom-1632789981 svg {
	position: relative;
	display: block;
	width: calc(263% + 1.3px);
	height: 104px;
	transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1632789981 .shape-fill {
	fill: #3b3b3b;
}
/* WAVE CONTAINERS */
/* WAVE CONTAINERS */
/* WAVE CONTAINERS */
